.header-splash: .splash.splash-d

header.section.section-header.section-header-voucher: .wrapper
    top-navbar
    br
    br
    br
    br

.wrapper: .row
    .col.col-xs-12.col-sm-8.col-sm-offset-2
        .block.block-voucher
            .voucher-details
                .voucher-title(ng-bind="$ctrl.voucherCard.title")
                .voucher-subtitle(ng-bind="$ctrl.voucherCard.subtitle")
                .voucher-value € {{ $ctrl.voucherCard.amount | to_fixed:2 }}
            .voucher-qr-code: .voucher-qr-code_inner#voucher_qr

    .col.col-xs-12.text-center
        br
        br
        br
        br
        div(
            ng-click="$ctrl.printVoucher($ctrl.voucher)" 
            ng-bind="'Print'").button.button-primary
        br
        br
        br
        br
        br
        br
        br
        br
        br
        br
        br
        br
        br
        br
        br
        br
        br
        br
        br
        br
        br
        br
        br
        br